@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* FONT STACK */

body,
input, select, textarea {
    font-family: "Montserrat", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* BASE LAYOUT */

html {
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

html * {
    margin: 0;
}

body {
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    padding-top: 100px;
    background-color: #f2f2f2;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* UI COMPONENTS */

.btn {
    color: #fff;
}

.btn:hover {
    background-color: inherit !important;
    color: inherit !important;
}

.btn:focus {
    outline: none !important;
}

.btn.btn-default {
    color: inherit;
}

.btn.btn-success {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn.btn-info {
    background-color: #1e8bc3;
    border-color: #1e8bc3;
}

.btn.btn-warning {
    background-color: #f89406;
    border-color: #f89406;
}

.btn.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.alert {
    color: #fff;
    padding: 10px;
    line-height: 20px;
}

.alert.alert-success {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.alert.alert-info {
    background-color: #1e8bc3;
    border-color: #1e8bc3;
}

.alert.alert-warning {
    background-color: #f89406;
    border-color: #f89406;
}

.alert.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.panel-heading {
    padding: 10px;
    color: #fff !important;
}

.panel-heading .btn {
    margin-right: 10px;
}

.panel-title {
    font-size: 14px !important;
    display: inline-block;
    padding: 10px;
}

.panel-body {
    padding: 20px !important;
    font-size: 14px !important;
}

.panel-heading.panel-default {
    background-color: #ccc;
    border-color: #ccc;
}

.panel-heading.panel-success {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.panel-heading.panel-info {
    background-color: #1e8bc3;
    border-color: #1e8bc3;
}

.panel-heading.panel-warning {
    background-color: #f89406;
    border-color: #f89406;
}

.panel-heading.panel-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

/* GENERAL */

.v-offset {
    margin-top: 10px;
}

.control-label {
    margin-bottom: 10px;
}

a, input, button {
    transition: .2s all ease;
}

.text-bold {
    font-weight: 700;
}

.navbar {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

.navbar .navbar-brand {
    padding: 0;
    margin-right: 40px;
    color: #e74c3c;
}

.navbar .nav li a:hover {
    color: #e74c3c;
}

.navbar .nav li a.btn {
    margin-left: 20px;
    color: #fff;
}

/* TIMEMAP */

#page-body, #timemap {
    height: 100%;
}

#timemap #timelinecontainer {
    width: 100%;
    height: 30%;
    cursor: ew-resize;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#timemap #timelinecontainer #timeline {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

#timemap #timelinecontainer .timeline-copyright {
    display: none;
}

#timemap #timelinecontainer .timeline-band-0 .timeline-ether-bg {
    background-color: #f2f2f2;
}

#timemap #timelinecontainer .timeline-band-1 .timeline-ether-bg {
    background-color: #222;
}

#timemap #timelinecontainer .timeline-band-1 .timeline-ether-highlight {
    background-color: #f2f2f2;
    top: 0;
    height: 100% !important;
    opacity: 1 !important;
}

#timemap #timelinecontainer .timeline-band-0 .timeline-ether-lines {
    border-color: #999;
    border-style: dashed;
}

#timemap #mapcontainer {
    width: 100%;
    height: 70%;
}

#timemap #mapcontainer #map {
    width: 100%;
    height: 100%;
}

p.content {
font-size: 12px;
width: 30em;
}

div#help {
font-size: 12px;
width: 45em;
padding: 1em;
}

div.infotitle {
    font-size: 14px;
    font-weight: bold;
}
div.infodescription {
    font-size: 14px;
    font-style: italic;
}

div.custominfostyle {
    font-family: "Montserrat", sans-serif !important;
    font-size: 13px;
    width: 200px;
    overflow: hidden;
    padding: 10px;
    line-height: 24px;
}

/* LOGIN */

#login {
    font-size: 12px;
}

#login .panel {
    border: none;
}

#login .chk {
    margin-right: 10px;
}

#login input.btn {
    font-size: 14px;
}